# Files to be ignored by git
/docs/
/.project
/build/
/cmake-build-debug/
/cmake-build-*
/.idea/
/.vscode/
/include/config.h
/CMakeCache.txt
cmake.check_cache
.DS_Store
cmake/.DS_Store
cmake/External/.DS_Store
src/.DS_Store
*~
